html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url(/img/background.webp) no-repeat;
  background-size: 55%;
  background-position: bottom;
  min-height: 100%;
  background-color: #0fa7e0;
}
form {
  padding: 20px;
  margin-top: 60px;
}
form button,
form h5 {
  margin: 20px 0;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}
